{% extends 'base.html' %}
{% block title %}Add book using Google Book API{% endblock %}
{% block content %}
<h2>Add books using keywords</h2>

<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <!-- Error messaging -->
    <br>
    <div id="errors">
        <div class="inner">
            <strong>
                <p>There were some errors in the information you entered. Please correct the following:</p>
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}:
                        <ul>
                            {% for error in field.errors %}
                            <li>{{ error|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </strong>
        </div>
    </div>
    <br>
    <!-- /Error messaging -->
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="form-group">
        <label for="q">General search: </label>
        <input type="text" name="q" value="{{ form.q.value|default_if_none:'' }}" class="form-control" id="q"
               placeholder="General search">
        <label for="title">Title: </label>
        <input type="text" name="intitle" value="{{ form.intitle.value|default_if_none:'' }}" class="form-control"
               id="title" placeholder="Title">
        <label for="author">Author: </label>
        <input type="text" name="inauthor" value="{{ form.inauthor.value|default_if_none:'' }}" class="form-control"
               id="author" placeholder="Author">
        <label for="publisher">Publisher: </label>
        <input type="text" name="inpublisher" value="{{ form.inpublisher.value|default_if_none:'' }}"
               class="form-control" id="publisher" placeholder="Publisher">
        <label for="subject">Subject: </label>
        <input type="text" name="subject" value="{{ form.subject.value|default_if_none:'' }}" class="form-control"
               id="subject" placeholder="Subject">
        <label for="isbn">ISBN number: </label>
        <input type="text" name="isbn" value="{{ form.isbn.value|default_if_none:'' }}" class="form-control" id="isbn"
               placeholder="ISBN number">
        <label for="lccn">LCCN number: </label>
        <input type="text" name="lccn" value="{{ form.lccn.value|default_if_none:'' }}" class="form-control" id="lccn"
               placeholder="LCCN number">
        <label for="oclc">OCLC number: </label>
        <input type="text" name="oclc" value="{{ form.oclc.value|default_if_none:'' }}" class="form-control" id="oclc"
               placeholder="OCLC number">

    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock %}